[mysqld]
pid-file      =/var/run/mysqld/mysqld.pid
socket        =/var/run/mysqld/mysqld.sock
datadir       =/var/lib/mysql
secure-file-priv=NULL
symbolic-links=0
lower_case_table_names=1

#最大连接
max_connections=3000

#关闭bin-log日志
skip-log-bin
#禁用域名，只用使用ip连接
skip-name-resolve

!includedir etc/mysql/conf.d